<header>
  <h1> Corgi! For Days! <h1>
  <form id="search" action='/search' method='GET'>
    <label>Spring a Corgi: <input type="text" name="search"></label>
    <input class="button" type="submit" value="Search">
  </form>
</header>